* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


body {
    font-family: "Lato", sans-serif;
    color: #777;
}

/* HEADER */
.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
}

.main_header_items ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;

}

.nav_lists {
    color: inherit;
    font-weight: bold;
}

/* SECTION-1 */
.section_1 {
    position: relative;
    padding: 16rem 0;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.26), rgba(40, 180, 133, 0.212));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .20;
    overflow: hidden;
}

.bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.button_1 {
    padding: 3rem 7rem;
    border: none;
    border-radius: 10rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #28b485;
    position: absolute;
    text-transform: uppercase;
    transition: all .3s;
    left: 40%;
}

.button_1:hover {
    background-color: rgb(247, 243, 243);
    color: #28b485;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px) scale(1.1);


}

.home_header {
    position: absolute;
    top: 10%;
    left: 40%;

}

.home_header_2 {
    position: absolute;
    top: 15%;
    left: 43%;
}

.home_header:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.home_paragraph {
    margin: 3rem 24rem;
    font-size: 2rem;
}

/* SECTION 2 */
.section_2 {
    padding: 15rem 0;
    position: relative;

}

.offer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.offer_head {
    background-color: white;
    border-radius: 3px;
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
    padding: 5rem 2rem;
    height: 50rem;

}

.features {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    border-radius: 3rem;
    padding: 3rem 2rem;
    vertical-align: middle;
    height: 50rem;

}

.features p {
    text-align: left;

}

.features h3 {
    color: #55c57a;
    margin: 1rem 0;

}

.features_icons {
    height: 25rem;
    width: 100%;
}

.features:hover {
    transform: translateY(-1.5rem) scale(1.03);
}



/* SECTION 3 */
.section-stories {
    position: relative;
    padding: 10rem 0;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 8rem;
}

.header_3 {
    position: absolute;
    top: 2%;
    left: 30%;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);
}

.story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
}

.story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
}

.story__text {
    transform: skewX(12deg);
}

.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.u-center-text {
    text-align: center !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heading-secondary {
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

article {
    text-align: left;
}

.btn-text:link,
.btn-text:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}

.team-intro {
    margin-top: 48px;
    padding-top: 62px;
    padding-bottom: 52px;
    text-align: center;
}

.team_header {
    margin-bottom: 3rem;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-top: 86px;
}

.team-member {
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 28px;
    transition: 0.4s;
    display: grid;
    justify-items: center;
}

.profile-image {
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 264px;
    object-fit: cover;
    object-position: top center;
}

.team-member .name {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-dark);
}

.team-member .position {
    color: var(--text-color-dark-gray);
    margin-top: 12px;
    margin-bottom: 18px;
}

.social-links {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 42px;
}

.social-links li {
    list-style: none;
}

.social-links li a {
    color: var(--text-color-dark);
    text-decoration: none;
}


.team-member:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

.company-activities {
    margin-top: 88px;
    text-align: center;
}

.intro {
    margin-bottom: 3rem;
    font-weight: bold;
}

.activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}

.activity {
    margin: 0 5rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    padding: 2rem 3rem;
    transition: 0.4s;
}

.act-image-wrapper {
    height: 255px;
    overflow: hidden;
    margin: -24px;
    margin-bottom: 0;
}

.act-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.activity .meta {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 12px;
    display: flex;
}

.activity .meta>p:last-child {
    margin-left: 36px;
}

.act-title {
    color: var(--text-color-dark);
    font-size: 18px;
    margin-bottom: 16px;
}

.activity article {
    letter-spacing: 0.54px;
    line-height: 24px;
}

.readmore-btn {
    border: 0;
    color: white;
    background-color: #28b485;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}
.readmore-btn:hover{
    color: #28b485;
    background-color: white;
    cursor: pointer;

}

.activity:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

.get-connected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px;
    vertical-align: top;
}

.contacts {
    text-align: center;
    margin-top: 5rem;
    padding: 5rem 0;
}

.contacts h2 {
    margin-bottom: 3rem;
}

.last_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;

}

.container-fluid {
    padding: 50px 0;
}

#contact h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container-fluid p {
    margin: 5px 0;
    padding: 0;

}

.u-text-2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #153c54bf;
}

.image_icon img {
    height: 60px;
    width: 60px;
}